.container {
  height: 100%;
  /* 내용이 많아지더라도 위 아래가 짤리지 않고 자연스러운 스크롤링 */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}
